<ion-header>
  <ion-toolbar *ngIf="food">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/foods/search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{food.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="food">
  <div class="image-food text-center">
    <img [src]="food.imageURL" alt="" />
  </div>
  <div class="ion-margin d-flex flex-column p-2">
    <b class="p-2">{{food.name}}</b>
    <small class="text-secondary p-2">{{food.description}}</small>
    <b class="p-2">{{food.price | currency}}</b>
    <ion-button (click)="addFavorite(food)">
      <div *ngIf="check">Remove from favorite list</div>
      <div *ngIf="!check">Add to your favorite list</div>
    </ion-button>
  </div>
</ion-content>
