<ion-header translucent>
  <ion-toolbar>
    <ion-back-button defaultHref="foods/search" slot="start"></ion-back-button>
    <ion-title>
      {{ categoryName }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let food of foods" class="my-1" [routerLink]="food.id">
      <div class="my-4 d-flex">
        <div class="image-food col-6">
          <img [src]="food.imageURL" alt="" />
        </div>
        <div class="col-6">
          <p>{{ food.name }}</p>
          <b>{{ food.price | currency }}</b>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
