.image-food {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-food img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 0.5rem;
}
