<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="categories">
  <h5 class="ion-margin mt-5">Category</h5>
  <div class="d-flex flex-wrap px-2">
    <div
      class="w-25"
      [routerLink]="[category.id,'food']"
      *ngFor="let category of categories"
    >
      <ion-card class="m-2 py-1 ion-text-center">
        <img class="w-50" src="{{category.imageURL}}" alt="" /><br />
        <b>{{category.name}}</b>
      </ion-card>
    </div>
  </div>
  <div class="mt-3">
    <h5 class="ion-margin">Recommend</h5>
    <ion-slides [options]="{slidesPerView: 1.2}">
      <ion-slide [routerLink]="[1,'food']">
        <img src="assets/banner/pizza.jpg" alt="" />
      </ion-slide>
      <ion-slide [routerLink]="[2,'food']">
        <img src="assets/banner/burger.jpg" alt="" />
      </ion-slide>
      <ion-slide [routerLink]="[3,'food']">
        <img style="height: 228px" src="assets/banner/noodle.jpg" alt="" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="mt-3">
    <h5 class="ion-margin">Hot Dog</h5>
    <ion-slides [options]="{slidesPerView:2.8}">
      <ion-slide
        class="foods d-flex flex-column"
        *ngFor="let food of hotdogs"
        [routerLink]="[7,'food',food.id]"
      >
        <div class="image-food">
          <img [src]="food.imageURL" alt="" />
        </div>
        <b>{{food.name}}</b>
        <p>{{food.price | currency}}</p>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="mt-3">
    <h5 class="ion-margin">Drinks</h5>
    <ion-slides [options]="{slidesPerView:2.8}">
      <ion-slide
        class="foods d-flex flex-column"
        *ngFor="let food of drinks"
        [routerLink]="[8,'food',food.id]"
      >
        <div class="image-food">
          <img [src]="food.imageURL" alt="" />
        </div>
        <b>{{food.name}}</b>
        <p>{{food.price | currency}}</p>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="mt-3">
    <h5 class="ion-margin">Promotion</h5>
    <ion-list>
      <ion-item
        *ngFor="let promotion of snacks"
        class="d-flex py-1"
        [routerLink]="[5,'food',promotion.id]"
      >
        <div class="image-promotion p-0 my-1 col-4">
          <b class="p-1">PROMO</b>
          <img class="p-0 w-100" [src]="promotion.imageURL" alt="" />
        </div>
        <div class="col-6 d-flex flex-column justify-content-around ml-4">
          <b>{{promotion.name}}</b>
          <small>Snack</small>
          <p>{{promotion.price | currency}}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
