ion-toolbar {
  ion-searchbar {
    --border-radius: 1rem;
    --icon-color: purple;
  }
}
.category {
  flex-wrap: wrap;
}
ion-slides {
  ion-slide {
    margin: 0 0.5rem;
  }
}

.foods {
  img {
    max-width: 7rem;
    height: 7rem;
    border-radius: 1rem;
  }
}
.image-promotion {
  b {
    font-size: 0.7rem;
    background-color: orange;
    color: white;
    position: absolute;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
  }
  img {
    border-radius: 1rem;
  }
}
