<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="search"
        ><ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favorite"
        ><ion-icon name="heart-circle-outline"></ion-icon>
        <ion-label>Favorite</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
