<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin">
  <div
    class="d-flex flex-column justify-content-center align-items-center h-75"
  >
    <div class="d-flex ion-margin align-items-center">
      <div class="d-flex flex-column">
        <ion-label><b>Username:</b></ion-label>
        <ion-label class="my-2"><b>Password:</b></ion-label>
      </div>
      <div class="d-flex flex-column ml-1">
        <input type="text" #userName required />
        <input class="my-2" type="password" #userPassword required />
      </div>
    </div>
    <div class="d-flex align-items-center mb-4">
      <input
        type="button"
        class="bg-primary text-light border-0"
        value="Log in"
        (click)="authService.SignIn(userName.value, userPassword.value)"
      />

      <div class="mx-1">
        <span>Or</span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <button
        type="button"
        class="d-flex align-items-center py-1 bg-primary text-light"
        (click)="authService.GoogleAuth()"
      >
        <ion-icon class="mx-1" name="logo-google"></ion-icon>
        <span class="mx-1">Log in with Google</span>
      </button>
    </div>
    <span
      >Don't have an account?<span
        class="redirect text-primary"
        routerLink="/register-user"
      >
        Sign Up</span
      ></span
    >
  </div>
</ion-content>
