<ion-header>
  <ion-toolbar>
    <ion-title> Sign Up </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin">
  <div
    class="h-75 d-flex flex-column align-items-center justify-content-center"
  >
    <div class="d-flex ion-margin align-items-center justify-content-center">
      <div class="d-flex flex-column">
        <ion-label><b>Username:</b></ion-label>
        <ion-label class="my-2"><b>Password:</b></ion-label>
      </div>
      <div class="d-flex flex-column ml-1">
        <input type="text" #userEmail required />
        <input class="my-2" type="password" #userPwd required />
      </div>
    </div>
    <div class="w-100 d-flex align-items-center justify-content-center">
      <input
        type="button"
        class="bg-primary border-0 text-light"
        value="Sign Up"
        (click)="authService.SignUp(userEmail.value, userPwd.value)"
      />
      <span class="mx-2">Or</span>
      <button
        type="button"
        class="bg-primary text-light d-flex align-items-center"
        (click)="authService.GoogleAuth()"
      >
        <ion-icon class="mx-1" name="logo-google"></ion-icon>
        Continue with Google
      </button>
    </div>
    <span
      >Already have an account?
      <span class="text-primary" routerLink="/login">Log In</span></span
    >
  </div>
</ion-content>
