<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Your favorite foods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-list>
    <ion-item
      *ngFor="let food of favoriteList"
      [routerLink]="['category', food.categoryId,'food', food.id]"
    >
      <div class="d-flex my-2 py-1">
        <div class="col-5">
          <img src="{{ food.imageURL }}" alt="" />
        </div>
        <div class="col-6 d-flex flex-column justify-content-around">
          <h5 class="m-0">{{ food.name }}</h5>
          <small *ngIf="food.categoryId ==='1'">Pizza</small>
          <small *ngIf="food.categoryId ==='2'">Burger</small>
          <small *ngIf="food.categoryId ==='3'">Noodles</small>
          <small *ngIf="food.categoryId ==='4'">Lunch Box</small>
          <small *ngIf="food.categoryId ==='5'">Snack</small>
          <small *ngIf="food.categoryId ==='6'">Chicken</small>
          <small *ngIf="food.categoryId ==='7'">Hot dog</small>
          <small *ngIf="food.categoryId ==='8'">Drink</small>
          <b>{{ food.price | currency }}</b>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
