<ion-content class="ion-margin">
  <div class="d-flex flex-column align-items-center my-5">
    <ion-icon class="avatar" name="person-circle-outline"></ion-icon>
    <div
      class="d-flex flex-column align-items-start border-darken-1"
      *ngIf="authService.userData as user"
    >
      <h3>
        Hello:
        <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
      </h3>
      <p>
        Email: <strong>{{ user.email }}</strong>
      </p>
      <p>
        Email Verified: <strong>{{ user.emailVerified }}</strong>
      </p>
    </div>
    <button
      type="button"
      class="d-flex align-items-center py-1 bg-danger text-light"
      (click)="authService.SignOut()"
    >
      <ion-icon name="log-out-outline"></ion-icon>
      Log out
    </button>
  </div>
</ion-content>
